#landing #background { margin-left: -9px !important; }
.btn-section { margin-top: 25px; }
sup { top: -0.6em !important; }
#landing .right-card p.subtitle { padding-top: 15px !important; }

#block-two{
	margin-left:-8px;
}

#landing{
	margin-top:-50px;
	padding-top:0px;
}