/************* INITIAL PROPERTIES ***************/

body{ margin:0; background-color:#FFF; }
img, div{ position:absolute; margin:0px; padding:0px;}

#banner{
	position:relative;
	width:298px;
	height:248px;
	border:1px solid #000;
	overflow:hidden;
}

#bg{ top:0px; left:0px; }
#logo{ top:219px; left:76px; }
#flo{ top:14px; left:-60px; }
#ribbon{ left:44px; top:-64px; }

#flag1{ left:300px; top:68px; }
#flag2{ left:300px; top:109px; }
#flag3{ left:300px; top:152px; }

.flagBody{
	width:200px;
	height:36px;
	left:21px;
	background-image:url(img/flagPattern.png);
}

#flagTag1{ left:27px; top:13px; }
#flagTag2{ left:70px; top:13px; }
#flagTag3{ left:49px; top:13px; }

#smallArrow1{ left:104px; top:9px; }
#smallArrow2{ left:140px; top:9px; }
#smallArrow3{ left:105px; top:9px; }

#rate1{ left:118px; top:12px; }
#rate2{ left:154px; top:12px; }
#rate3{ left:119px; top:12px; }

#over{
	left:0px;
	top:0px;
	opacity:0;
	transition: ease-out 0.25s;
}

#glow{
	left:-6px;
	top:-6px;
	opacity:0;
	transition: ease-out 0.25s;
}


/************* ANIMATION ***************/
#flo.in{ top:14px; left:0px; transition: cubic-bezier(.34,.99,.7,1) 0.25s;}
#over.on, #glow.on{ opacity:1; }
#ribbon.in{ transition: cubic-bezier(.34,.99,.7,1) 0.25s; top:0px; }
#flag1, #flag2, #flag3{ transition: cubic-bezier(.34,.99,.7,1) 0.5s; }
#flag1.in{ left:150px }
#flag2.in{ left:114px }
#flag3.in{ left:148px; top:152px; }

/************ ARN ZIPCODE **************/

#zipForm {
	top:198px;
	left:186px;
	z-index:5;
	width:101px;
}


#zip {
	position:absolute;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:83px;
	height:20px;
	left:8px;
	border:1px solid #3bb7f1;
	margin:0;
	vertical-align:top;
	text-align:center;
	font-size:9px;
	color:#ababab;
	background-image:url(img/inputGradient.gif);
}

#zipSubmit {
	position:absolute;
	width:99px;
	height:22px;
	top:19px;
	left:0px;
	border:1px solid #FFF;	
	margin:0;
	padding:0px;
	background-image:url(img/ctaGradient.png);
	color:#FFF;
	font-size:12px;
	text-transform:uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	vertical-align:central;
	text-align:center
}

#shimmerMask {
	position:absolute;
	width:99px;
	height:22px;
	top:19px;
	left:0px;
	overflow:hidden;
}

#shimmer{
	top:0px; 
	left:-99px;
	width:99px;
	height:22px;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0.04) 98%,rgba(255,255,255,0) 100%); /* W3C */
}

#shimmer.on{
	left:99px;
	transition: ease-in-out 0.5s;
}

#activeArea{
	position:absolute;
	width:99px;
	height:22px;
	top:19px;
	left:0px;
}

#activeArea:hover{
	cursor:pointer;
}

