body{ margin:0; background-color:#FFF; }
img, div{ position:absolute; margin:0px; padding:0px;}

#banner{
	position:relative;
	width:298px;
	height:248px;
	border:1px solid #000;
	overflow:hidden;
}

#canvas.out{
	transition: linear 0.5s;
	opacity:0;
}

#bg{ top:0px; left:0px; width:300px; height:250px; background-image:url(img/bgpattern.jpg); z-index:-2; }
#flo{ top:122px; left:300px; }
#machine{ left:15px; top:25px; z-index:-1;}

#rate1{ left:50px; top:68px; }
#rate2{ left:50px; top:128px; }

.digits{ background-image:url(img/numSprite.png); height:23px; }

#digit1, #digit4{ width:17px;  background-position:-15px;}
#digit2{ width:16px;  background-position:-48px; left:29px;}
#digit3{ width:15px; left:59px;}
#digit5{ width:16px;  background-position:-32px; left:29px;}
#digit6{ width:16px;  background-position:-32px; left:59px;}

#digit1, #digit2, #digit3, #digit4, #digit5, #digit6{ top:-10px; opacity:0; transition: cubic-bezier(0.34, 0.99, 0.7, 1) 0.25s; }

#flo.in{ left:165px; transition: cubic-bezier(.09,.75,.34,1) 0.25s; }

#digit1.in, #digit2.in, #digit3.in, #digit4.in, #digit5.in, #digit6.in { top:0px; opacity:1; }

#copy1, #copy2{
	width:126px; height:51px; top:25px; left:171px; background-image:url(img/text.png);
}

#copy1{ clip:rect(0px 126px 25px 0px); opacity:0; }
#copy2{ clip:rect(26px 126px 51px 0px); opacity:0; }

#copy1.fadein, #copy2.fadein{
	transition: linear 0.25s;
	opacity:1;
}

#patch{
	left:15px; top:25px;
	clip:rect(90px 141px 142px 124px);
}

#handle{
	left:147px; top:72px;
	width:36px; height:68px;
    -moz-transform-origin: 1px 68px;
    -ms-transform-origin: 1px 68px;
    -o-transform-origin: 1px 68px;
    -webkit-transform-origin: 1px 68px;
    transform-origin: 1px 68px;
    -moz-transition: cubic-bezier(0.34, 0.99, 0.7, 1) 0.25s;
    -o-transition: cubic-bezier(0.34, 0.99, 0.7, 1) 0.25s;
    -webkit-transition: cubic-bezier(0.34, 0.99, 0.7, 1) 0.25s;
    transition: cubic-bezier(0.34, 0.99, 0.7, 1) 0.25s
}

#ball{
	left:153px;
	top:85px;
	transition: cubic-bezier(0.34, 0.99, 0.7, 1) 0.25s;
}

#ball.down{
	left:154px;
	top:118px;
}

#stick{ top:26px; }

#handle.pull {
    -moz-transform: rotate(5deg) scaley(0.3);
    -ms-transform: rotate(5deg) scaley(0.3);
    -o-transform: rotate(5deg) scaley(0.3);
    -webkit-transform: rotate(5deg) scaley(0.3);
    transform: rotate(15deg) scaley(0.3)
}

#zipForm {
	top:198px; left:33px;
	width:101px;
}

#zip {
	position:absolute;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:94px;
	height:16px;
	left:5px;
	border:1px solid #dad8d8;
	margin:0;
	box-shadow:inset 0 0 5px #CCC;
	vertical-align:top;
	text-align:center;
	font-size:9px;
	color:#ababab;
	z-index:5;
	background-image:url(img/textfieldSkin.png);
}

#zipSubmit {
	position:absolute;
	width:106px;
	height:17px;
	border-radius:2px;
	top:16px;
	left:0px;
	border:1px solid #FFF;	
	color:#FFF;
	font-size:9px;
	text-transform:uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	background-image:url(img/ctaSkin.png);
	font-weight:bolder;
}

#shimmerMask{
	width:106px;
	height:15px;
	top:17px;
	left:0px;
	border:0;
	border-radius:2px;
	margin:0;
	overflow:hidden;
	z-index:4;
}

#shimmer{
	z-index:5;
	width:106px;
	height:17px;
	top:0px;
	left:-106px;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0.04) 98%,rgba(255,255,255,0) 100%); /* W3C */
}

#shimmer.on{
	left:106px;
	transition: ease-in-out 0.5s;
}

#activeArea{
	position:absolute;
	width:106px;
	height:15px;
	top:16px;
	left:0px;
	z-index:6;
}

#activeArea:hover{
	cursor:pointer;
}