body {
    background: url("../images/background_app.jpg") repeat-y fixed center top #F8F8F8;
    margin: 0;
    padding: 0;
}

sup{
    font-size: 0.7em;
    position: relative;
    /*vertical-align: top;*/
    top:0px;
    *top:-2px;
    bottom:0px;
    /*line-height: 20px;*/
}
#container #header #navagation {
	/*display:none !important;*/
}

#container{
 	width: 754px !important;
	margin: 0 auto !important;
	*padding-left: 12px !important;
	_width: 754px !important;
	_padding-left: 12px !important;
}


#content {
    padding-top: 0px;
	padding-left:0px;
    width: 744px;
    margin: auto;
}

#landing{
    width: 722px;
    position:relative;
	padding-left:40px;
}

/* TOP SECTION */

#topImages{ margin-top:170px;  *margin-top:40px}
#mainMessage{ margin: 0 0 22px 30px; }



/* CENTER SECTION */

#mainText{ width:659px; }

#mainText p{
	margin: 25px 0 0 7px;
	color:#818181; font-size:14px; line-height:18px;
}

#socialButtons{ margin: 30px 0 26px 183px; }
#twLink{ margin-left:16px; }



/* TEAM SELECTION SECTION */

#teamSelection p{ color:#818181; font-size:14px; }

#logosContainer {
    width: 659px; height: 152px;
    background-image: url(../images/logosBoxBackground.jpg);
}

#logosContainer img{ vertical-align:middle; margin-top:17px; }
#logosContainer img:hover{ cursor:pointer; }

#ohiostate{ margin-left:37px; }
#indians{ margin-left:16px; }
#bluejackets{ margin-left:21px; }
#cavaliers{ margin-left:14px; }
#msuspartans{ margin-left:25px; }
#detroitlions{ margin-left:18px; }
#colts{ margin-left:20px; }
#halloffame{ margin-left:21px; }
#bgsufalcons{ margin-left:39px; }
#ksuflashes{ margin-left:19px; }
#monsters{ margin-left:23px; }
#csuvikings{ margin-left:17px; }
#muraiders{ margin-left:24px; }
#utrockets{ margin-left:20px; }
#griffins{ margin-left:18px; }


#styled-select select{
	background: transparent;
	width:250px; *width:190px;
	height:45px;
	padding: 10px;
	
	*margin-top:12px;
	*margin-left:10px;
	
	font-size: 14px;
	line-height:14px;
	vertical-align:middle;
	padding-bottom:13px;
	
	color:#818181;
	
	line-height: 1;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance:none;
}

#styled-select select option {
	font-size: 14px;
	color:#818181;
}

#styled-select {
	width:208px; height:45px;
	overflow: hidden;
	background: url(../images/dropdownSkin.png);
	float:left;
}

#selectorWrapper{
	width:657px; height:45px;
	margin-top:16px;
}

/* TEAMS INFORMATIO SECTION*/

#ticketsInfo{
	clear:both;
}

#ticketsInfo p, #ticketsInfo td,#ticketsInfo ul, #socialiconsBottom p{
	width:658px;
	font-size:14px;
	line-height:18px;
	color:#818181;
	float:none;
}

#ticketsInfo li{
	font-size:14px;
	line-height:18px;
	color:#818181;
	background-image:url(../images/bullet.gif);
	 background-position: 0px 5px;
	background-repeat:no-repeat;
	padding-left:15px;
	list-style:none;
}

#ticketsInfo .title{
	color:#7ac142;
	font-size:18px;
}

#ticketsInfo .subtitle{
	color:#7ac142;
}


/* Social Icons at Bottom */
#socialiconsBottom{
	width:659px;
	text-align:center;
	margin-top:40px;
	margin-bottom:35px;
	
}

#socialiconsBottom p{ margin-bottom:8px; }
#socialiconsBottom img{ margin:0 6px; }

#selectorWrapper #dynamicLink{
	display:inline-block;
	padding-left:20px;
	font-size:12px; text-decoration:underline;
	*margin-top:15px;

	padding-left:20px;
	font-size:14px; line-height:14px; text-decoration:underline;
}

#selectorWrapper #dynamicLink a{
	color:#818181;
}

#disclaimer p{
	width:660px;
	font-size:10px;
	line-height:auto;
	color:#818181;
}







/***************************/
/* Affinity Landing Styles */
/***************************/
/* Fixes to hide elements */
sub, sup { 
	font-size: 65%;
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}
sup { 
	top: -0.4em; 
}
sub { 
	bottom: -0.25em; 
}

.top-nav { width:520px !important; }

#footer ul { padding: 0px 0px 0px 0px !important; }
/*#search { display: none !important; }
#footer { display: none !important; }*/

/*#footer ul li:nth-child(7), #footer ul li:nth-child(8), #footer ul li:nth-child(9) {
	display:none;
}
*/
#footer ul > li + li + li + li + li + li { border-right:none; }
#footer ul > li + li + li + li + li + li + li {display:none;}
#footer ul > li + li + li + li + li + li + li + li {display:none;}
#footer ul > li + li + li + li + li + li + li + li + li {display:none;}

.clear { clear:both; line-height: 0; height:0; }