# Begin password protection #
AuthName "Password Protected"
Require valid-user
AuthUserFile "/home/users/web/b2273/glo.inversionespragmacom/fabianmiranda/samples/private/.htpasswd"
AuthType basic
# End password protection #

